/1- running cat.py
/1..png
/1.py
/ballsmall.png
/celfah.py
/Celsia.py
/ciselaradakopie (1).py
/ciselaradakopie.py
/ciselnarada.py
/cisrad.py
/ctverec.py
/ctverectrojuhelnik.py
/ctverectrojuhelnikold.py
/diversprite.png
/fahrenheit.py
/formatovani_priklad kopie.py
/formatovani_priklad.py
/hodiny  puvodni.py
/hodiny vylepsene.py
/hodiny.py
/kapka.py
/kocka
/kostky.py
/nasobek.py
/nejst.py
/newvlajka.py
/novyohnostroj.py
/odmocnina.py
/ohnostroj.py
/ohnostrojstary.py
/palindrom.py
/posuny.py
/potapec.py
/puvod.py
/reakcemoje.py
/reakcnidoba.py
/retezce.py
/runningcat.png
/running_cat.py
/stopky.py
/stopkynoc.py
/stopkyrand.py
/stopkystare.py
/sudalicha.py
/test.py
/test2.py
/tkinter_kbdking.mov
/trojuhelnik.py
/veta2slova.py
/vlajka.py
/vlajkapohyb.py
/vlajka_nepohyb.py
/__keyb.py
/__keybo.py